In [8]:
import pandas

In [10]:
teploty = pandas.read_csv('temperature.csv')
teploty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          8790 non-null   object
 1   Country         8790 non-null   object
 2   City            8790 non-null   object
 3   Day             8790 non-null   int64
 4   AvgTemperature  8790 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 343.5+ KB

In [11]:
print(teploty)

             Region  Country      City  Day  AvgTemperature
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

[8790 rows x 5 columns]

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? 
Je to ve Fahrenheitech.

In [15]:
praha = teploty[teploty["City"]=="Prague"]
print(praha)

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7

Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.

In [ ]:
praha = teploty[teploty["City"]=="Prague"]
print(praha)

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7

In [28]:
nad_80 = teploty[(teploty["AvgTemperature"] > 80)]
print(nad_80[["City", "AvgTemperature"]])

                 City  AvgTemperature
30            Cotonou            81.7
31            Cotonou            81.8
32            Cotonou            83.6
33            Cotonou            83.4
34            Cotonou            80.3
...               ...             ...
8011      Brownsville            80.8
8012      Brownsville            81.1
8015      Brownsville            80.5
8042   Corpus Christi            80.2
8074  Dallas Ft Worth            80.1

[722 rows x 2 columns]

Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).

In [31]:
Evropa_nad_60 = teploty[(teploty["AvgTemperature"] > 60) & (teploty["Region"] == "Europe")]
print(Evropa_nad_60[["Region", "City", "AvgTemperature"]])

      Region       City  AvgTemperature
1932  Europe     Tirana            60.3
2402  Europe       Rome            62.2
2404  Europe       Rome            60.4
2580  Europe     Lisbon            62.5
2581  Europe     Lisbon            63.2
2582  Europe     Lisbon            61.1
2583  Europe     Lisbon            61.6
2602  Europe     Lisbon            64.2
2603  Europe     Lisbon            62.6
2701  Europe  Barcelona            63.8
2702  Europe  Barcelona            63.1
2703  Europe  Barcelona            63.5
2704  Europe  Barcelona            61.6
2730  Europe     Bilbao            62.9
2731  Europe     Bilbao            66.3
2732  Europe     Bilbao            63.8
2751  Europe     Bilbao            62.7
2752  Europe     Bilbao            69.5
2753  Europe     Bilbao            62.5

Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [33]:
extremy = teploty[(teploty["AvgTemperature"] > 80) | (teploty["AvgTemperature"] < -20)]
print(extremy[["Region", "City", "AvgTemperature"]])

             Region             City  AvgTemperature
30           Africa          Cotonou            81.7
31           Africa          Cotonou            81.8
32           Africa          Cotonou            83.6
33           Africa          Cotonou            83.4
34           Africa          Cotonou            80.3
...             ...              ...             ...
8011  North America      Brownsville            80.8
8012  North America      Brownsville            81.1
8015  North America      Brownsville            80.5
8042  North America   Corpus Christi            80.2
8074  North America  Dallas Ft Worth            80.1

[772 rows x 3 columns]